<%% url, method = <%= underscore_model_name %>s_path, :post  %>
<%% url, method = <%= underscore_model_name %>_path(@<%= singular_model_name %>), :put if action_name == 'edit' %>

<% column_list = column_names %>
<%%= form_for(@<%= singular_model_name %>, url: url) do |f| %>
<table class="ui striped celled table">
  <tbody>
    <% column_list.each do |column| %>
      <tr>
        <td class="two wide">
          <%= column %>
        </td>
        <td>
          <div class="ui input">
            <%%= f.text_field :<%= column %> %>
          </div>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<span class="ui" style="float: right;">
  <button class="ui button" type="submit">등록</button>
</span>
<%% end %>