<div class="">
    <p>
        <%= link_to '로그인', user_session_path %>
    </p>
    <p>
        <%= link_to '관리자 로그인', staff_user_session_path %>
    </p>
    <p>
        <% if staff_user_signed_in? || user_signed_in? %>
            <%= link_to '로그아웃', destroy_user_session_path, method: :delete %>
        <% end %>
    </p>
    <p>
        <%= "user: #{current_user.email}" if current_user %>
    </p>
    <p>
        <%= "staff user: #{current_staff_user.email}" if current_staff_user %>
    </p>    
</div>
