<section class="hero is-fullheight is-light-grey is-bold black-letter">
  <div class="hero-body">
    <div class="container">
      <div class="columns is-vcentered">
        <div class="column is-4 is-offset-4">
          <div id="material" class="login-form-wrapper">
              <!-- Material login form -->
              <div id="material-login-form" class="animated preFadeInLeft fadeInLeft">
                  <div class="flex-card auth-card is-light-raised light-bordered card-overflow">
                      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
                      <%= render partial: 'devise/shared/error_messages', resource: resource %>
                        <div class="control-material is-black">
                            <%= f.text_field :email, class: "material-input", required: "" %>
                            <span class="material-highlight"></span>
                            <span class="bar"></span>
                            <%= f.label :email %>
                        </div>
                        <div class="control-material is-black">
                            <input class="material-input" type="password" required="" name="user[password]">
                            <span class="material-highlight"></span>
                            <span class="bar"></span>
                            <label>비밀번호</label>
                        </div>
                        <p class="has-text-left mt-30">
                            <%= link_to '아직 계정이 없으세요?', new_user_registration_path, class: 'no-account' %>
                        </p>
                        <div class="mt-20">
                            <%= f.submit "로그인", class: 'button button-cta btn-align is-fullwidth btn-outlined is-bold rounded raised no-lh is-black-background', id: "sign_in_button" %>
                        </div>
                      <% end %>
                      <div class="mt-20">

                      </div>
                  </div>

              </div>
              <!-- /Material login form -->

              <!-- Material recover form -->
              <div id="material-recover-form" class="animated preFadeInLeft fadeInLeft is-hidden">

              </div>
              <!-- /Material recover form -->
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
