<!DOCTYPE html>
<html>
  <head>
    <title>MarketAnt</title>
    <meta name="viewport" content="viewport-fit=cover, width=device-width, minimal-ui, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.5, user-scalable=yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <header>
      <%= link_to 'home', root_path %>
    </header>
    <%= yield %>
  </body>
</html>
